.home{
    background-color: white;
}
h1{
    padding-top: 60px;
    text-align: center;
    color: Black;
    font-size: 80px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 .my-icon2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    margin: 0rem 1rem;
}
.my-icon2 img {
   width: 60%;
   height: 75%;
   border-radius: 50%;
} 

.icon-list3{
   display: flex;
   flex-direction: row;
   margin-top: 5rem;
}
.my-icon2 p{
   color: black;
}

.hover figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}