.card {
  box-shadow: -5px 30px 60px rgba(0, 0, 0, 0.09);
  border-radius: 0px 0px 40px 40px;
  padding: 15%;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.card .cardRegister{
  height: 100%;
}
.container-1 {
  margin-top: 5%;
  margin-left: 10%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 42px;
  letter-spacing: -0.015em;
  color: #181c26;
}
.container-2 {
  margin-top: 2%;
  margin-left: 10%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: -0.015em;

  color: #3c3c3c;
}

.login-forgot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 14.5vw;
}

.img-container {
  width: 775.33px;
  height: 400px;
  margin-top: 10%;
}

.login-container {
  margin-left: 10%;
  margin-right: 10%;
}

.register-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
}

.form-control {
  border: none;
  border-bottom: 2px solid lightskyblue;
}
.form-check-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
.btn {
  background: #657fff;
  box-shadow: 0px 6px 10px rgba(101, 127, 255, 0.35);
  border-radius: 10px;
  color: white;
}
.noacc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 42px;
  /* identical to box height, or 300% */

  letter-spacing: -0.015em;

  /* new_black */

  color: #181c26;
}
.register-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  /* identical to box height, or 300% */

  letter-spacing: -0.015em;

  color: #657fff;
}
.form-check-label {
  text-decoration: none;
  color: black;
  float: right;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.line-1 {
  width: 33%;

  opacity: 0.5;
  /* new_black */

  border: 0.5px solid #181c26;
}
.line-text {
  font-family: Montserrat;
  font-style: normal;
}
.google-button {
  background: #ffffff;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3%;
  width:10rem;
}
.facebook-button {
  background: #485a96;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3%;
  width:10rem;
}
.or-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.error {
  position: absolute;

  color: #ec0000;
  font-family: "Gilroy_M";
  font-size: 14px;
}
.error-visible {
  visibility: visible;
}
.error-hidden {
  visibility: hidden;
}